@import '../main';

%card {
    width: 20rem;
    background-color: $bluegreen-background-color;
    align-items: center;

    .card-title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}