.footer-main {
    height: auto;
    padding: 2rem 0;
    background-color: #B53A21;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    li {
        text-decoration: none;
        list-style-type: none;
    }

    img {
        height: 5rem;
        width: auto;
        margin-top: 1rem;
        border-radius: .5rem;
        box-shadow: 0 0 .2rem 1px #000;
        background-color: #fff;
        padding: .5rem;
    }

    a {
        text-decoration: none;
        color: #fff;
    }

    form {
        width: 20rem;
        margin-bottom: 2rem;

        textarea {
            height: 10rem;
        }

        .invalid-feedback {
            color: #000;
        }
    }

    .follow {
        margin-top: 1rem;
    }

    p {
        width: 100vw;
        text-align: center;

        a {
            text-decoration: underline;
        }
    }
}

@media (min-width: 320px) and (max-width: 480px) { 
    .footer-main {
        flex-direction: column;

        .links {
            text-align: center;

            li {
                font-size: 2rem;
            }
        }

        form {
            width: 30rem;

            input {
                height: 3rem;
            }
        }

        .facebook-logo {
            height: 3rem;
            width: auto;
        }
    }
}