.hero-overlay {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #189ab4 100%);
  width: 65rem;
  height: 100%;
  grid-column: 1;
  grid-row: 1;
}

.home-content-text img, .home-content-text .impact-icon, .donate-icon {
  height: 8rem;
  width: auto;
  color: #000;
  opacity: 0.75;
}

.soup-kitchen Button, .food Button, .hero-content Button {
  padding: 0.2rem 1.5rem;
  opacity: 0.5;
}

.soup-kitchen .button-titles, .food .button-titles {
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;
}

.home-main {
  height: auto;
}

.hero {
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.2) 80%, white 100%), url("../pictures/home-hero.jpg");
  background-repeat: no-repeat;
  background-size: 58rem;
  background-position: left;
  height: 30rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: end;
  align-items: center;
}

.hero-content {
  grid-column: 1;
  grid-row: 1;
  margin-right: 2rem;
}
.hero-content h1 {
  width: 30rem;
  margin-bottom: 1rem;
  color: #B56018;
}
.hero-content h4 {
  width: 32rem;
  background: linear-gradient(90deg, #034a80 0%, #075869 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-content Button {
  -webkit-text-fill-color: #fff;
}

.home-content {
  height: auto;
}
.home-content h1 {
  color: #05445E;
  text-align: center;
  padding: 2rem;
  margin: 0;
  font-size: 3rem;
  background-color: rgba(212, 241, 244, 0.4);
}

.section-one {
  height: auto;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  background: radial-gradient(circle, #74fcc8 0%, white 85%);
  padding-bottom: 2rem;
}
.section-one h1 {
  background-color: rgba(116, 252, 200, 0);
}

.top-bio {
  font-weight: 500;
  width: 50rem;
  margin: 2rem auto 4rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.2rem 0 #acabab;
}
.top-bio p {
  font-size: 1.5rem;
}
.top-bio strong {
  color: #B56018;
}

.donate-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 5rem;
  margin-bottom: 4rem;
  text-align: center;
  background-color: rgba(212, 241, 244, 0.4);
}
.donate-links a {
  text-decoration: none;
  color: #000;
}

.donate-icon {
  color: #B56018;
}
.donate-icon:hover {
  opacity: 0.5;
}

.home-content-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8rem;
}
.home-content-text h1 {
  color: #05445E;
  margin-top: 2rem;
  width: 30rem;
  text-align: center;
  font-size: 4rem;
}
.impacts {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2rem;
  text-align: center;
}

.soup-kitchen, .food {
  background-color: #75E6DA;
  border-radius: 1rem;
  padding: 2rem;
}
.soup-kitchen p, .food p {
  width: 25rem;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: left;
}
.soup-kitchen span, .food span {
  color: #B56018;
  font-size: 1.3rem;
}
.soup-kitchen Button, .food Button {
  margin-bottom: 1rem;
  opacity: 1;
}
.affiliates {
  width: 50rem;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5rem auto auto auto;
  background-color: #fff;
  box-shadow: 0 0 0.2rem 0 #acabab;
}
.affiliates h1 {
  color: #05445E;
  background-color: #fff;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.org-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.org-logos img {
  height: 5rem;
  width: auto;
  margin: 1rem 0;
}

.section-two {
  background: linear-gradient(180deg, #d4f1f4 80%, #189ab4 100%);
  height: auto;
  text-align: center;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}
.section-two h1 {
  color: #05445E;
  background: linear-gradient(180deg, #d4f1f4 0%, #b1e3d7 100%);
  padding: 5rem 0 0 0;
  margin: 0;
  font-size: 4rem;
}

.articles {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background: linear-gradient(180deg, #b1e3d7 0%, #0eb575 100%);
  padding: 2rem 0;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.articles .card {
  width: 30rem;
  padding: 1rem;
}

@media (max-width: 819px) {
  .hero-overlay {
    width: 100vw;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, #189ab4 100%);
  }

  .hero-content {
    margin-right: 0;
  }
  .hero-content h1 {
    font-size: 2rem;
    width: 25rem;
  }
  .hero-content h4 {
    width: 24rem;
  }
}
@media (min-width: 819px) and (max-width: 1000px) {
  .hero {
    background-size: 48rem;
  }

  .hero-overlay {
    width: 100vw;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, #189ab4 100%);
  }

  .hero-content {
    margin-right: 0;
  }
  .hero-content h1 {
    font-size: 2rem;
    width: 25rem;
  }
  .hero-content h4 {
    width: 24rem;
  }
  .hero-content button {
    opacity: 0.9;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .hero {
    height: 15rem;
    background-size: 25rem;
  }

  .hero-overlay {
    width: 100vw;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, #189ab4 100%);
  }

  .hero-content {
    width: auto;
    margin: auto;
    margin-left: 21.5rem;
  }
  .hero-content h1 {
    font-size: 1.3rem;
    width: 15rem;
  }
  .hero-content h4 {
    font-size: 1.1rem;
    width: 16rem;
  }
  .hero-content button {
    opacity: 0.9;
  }

  .top-bio {
    width: 100vw;
  }
  .top-bio p {
    font-size: 1.3rem;
  }

  .section-one {
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
  }

  .donate-links {
    flex-direction: column;
  }
  .donate-links a {
    margin-bottom: 2rem;
  }

  .impacts {
    flex-wrap: wrap;
  }

  .food {
    margin-bottom: 2rem;
  }

  .affiliates {
    width: 100vw;
  }
  .affiliates h1 {
    width: 30rem;
  }

  .articles {
    flex-direction: column;
    align-items: center;
  }
  .articles .card {
    margin-bottom: 3rem;
  }
}
@media (max-width: 369px) {
  .hero {
    height: 15rem;
    background-size: 100vw;
  }

  .hero-overlay {
    width: 100vw;
    background: none;
  }

  .hero-content {
    display: none;
  }
}

/*# sourceMappingURL=home.css.map */
